@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap');

body {
    font-family: "Diplomata SC", serif;
    background-color: #18202D;
}

#perfil{
    background-color: #A9322A;
    float: left;
    width: 6em;
    height: 6em;
    color: #FDF6D5;
    border-radius: 4em;
}

h1 {
    text-align: right;
    padding-right: 1em;
    font-size: 3em;
    color: #FDF6D5;
}

hr{
    background-color: #FDF6D5;
    border-width: 0.2em;
}

h2 {
    text-align: left;
    padding-left: 2em;
    color: #FDF6D5;
}

#addTreino{
    background-color: #A9322A;
    float: right;
    width: 3em;
    height: 3em;
    color: #FDF6D5;
}