@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Diplomata SC", serif;
    background-color: #18202D;
}

header {
    padding: .4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#link-logo {
    width: 20%;
}

#imagen-logo {
    width: 5em;
}

h1 {
    padding-right: 1em;
    font-size: 3em;
    color: #FDF6D5;
}

.hr {
    background-color: #FDF6D5;
    border-width: 0;
    height: 0.2em;
    border-top-width: 1px;
}

h2 {
    text-align: left;
    padding-left: 2em;
    color: #FDF6D5;
}

#adicionarExercicioContainer {
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
}

#addexercicio {
    background-color: #A9322A;
    padding: 1em;
    border-radius: 4em;

}

#nomeexercicio {
    font-family: "Diplomata SC", serif;
    font-size: 1.5em;
    color: #FDF6D5;
    background-color: #18202D;
    border: 0.1em;
}

ul li::marker {
    padding: 2em;
    border: 2px solid white;
    font-size: 3em;
    color: #A9322A;
}

ul {
    display: flex;
    align-items: center;
    padding-left: 4em;
}

#tabela-cargas h2 {
    color: #FDF6D5;
    font-size: 0.8em;
}

#tabela-cargas {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 5em;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding-right: 1em;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

th,
td {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
    text-align: center;
}

th {
    background-color: #A9322A;
    color: #FDF6D5;
}

tr {
    width: 100%;
    border: 1px solid black;
    background-color: #18202D;

}

tr,
td {
    text-align: center;
}