@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap');

body {
    font-family: "Diplomata SC", serif;
    background-color: #18202D;
}

#voltar {
    background-color: #A9322A;
    float: left;
    width: 6em;
    height: 6em;
    border-color: #FDF6D5;
    border-radius: 4em;
}

h1 {
    text-align: right;
    padding-right: 1em;
    font-size: 3em;
    color: #FDF6D5;
}

.conf {
    text-align: left;
    padding-right: 1em;
    font-size: 1.5em;
    color: #A9322A;

}

.hr {
    background-color: #FDF6D5;
    border-width: 0;
    height: 0.2em;
    border-top-width: 1px;
}

h2 {
    text-align: left;
    padding-left: 2em;
    color: #FDF6D5;
}

#addTreino {
    background-color: #A9322A;
    float: right;
    width: 3em;
    height: 3em;
    border-color: #FDF6D5;
}

#alteracao {
    font-family: "Diplomata SC", serif;
    font-size: 1.5em;
    color: #FDF6D5;
    background-color: #18202D;
    border: 0em;
}

ul li::marker {
    font-size: 3em;
    color: #A9322A;
}

ul {
    display: flex;
    align-items: center;
}